/* styles.css */
body {
    margin: 0;
    padding: 0;
}
/* For INTRO */
.intro-screen {
    font-family: 'Noto Serif JP', serif; 
    z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.intro-screen h1 {
    font-size: 48px;
    color: #000;
    transform: translateY(-100%);
    opacity: 0;
}

.animate {
    animation: fadeInUp 1s forwards;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeInUp {
    0% {
        top: 1;
        transform: translateY(-10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* BODY */
.main-content {
    display: none;
    background-color: #000000;
    color: #ffffff; /* TEXT */
}

.intro-screen.fade-out +.main-content {
    display: block;
}

